@page
@model INFC20P1.Pages.Transactions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trans</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Trans.tid" />
            <div class="form-group">
                <label asp-for="Trans.tname" class="control-label"></label>
                <input asp-for="Trans.tname" class="form-control" />
                <span asp-validation-for="Trans.tname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trans.send_id" class="control-label"></label>
                <input asp-for="Trans.send_id" class="form-control" />
                <span asp-validation-for="Trans.send_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trans.recieve_id" class="control-label"></label>
                <input asp-for="Trans.recieve_id" class="form-control" />
                <span asp-validation-for="Trans.recieve_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trans.amount" class="control-label"></label>
                <input asp-for="Trans.amount" class="form-control" />
                <span asp-validation-for="Trans.amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trans.t_date" class="control-label"></label>
                <input asp-for="Trans.t_date" class="form-control" />
                <span asp-validation-for="Trans.t_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
